<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _188204__BT2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header">
            <div class="header__top">
                <a><img class="banner-Top" src="~/Images/TopBarDesk-1200x44-2.png" /></a>
            </div>
            <div class="header__main">
                <section class="header__main-logo">
                    <a class="header-logo">
                        <i class="logo-ava"></i>
                    </a>
                    <form class="header-search">
                        <input type="text" placeholder="Tìm sản phẩm, nhóm hàng, hãng..." />
                    </form>
                    <div class="box-right">
                        <a class="add-cart">
                            <i class="cart-icon"></i>
                            <p>Giỏ hàng</p>
                        </a>
                        <a class="header__hotline">Hotline (7h30 - 22h00) <br /> <span>1900866874</span> </a>
                        <a class="header__text">Cẩm nang <br />Mẹ và bé </a>
                    </div>
                </section>
                <section class="header__bottom">
                    <nav>
                        <ul class="mennu">
                            <li>
                                <a><h3 class="mennu-name ">Sữa, thức uống</h3></a>
                                <div class="show-menu show-full">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a><h3>Bĩm,tã</h3></a>
                                <div class="show-menu">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a><h3>Thực phẩm</h3></a>
                                <div class="show-menu">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a><h3>Mỹ phẩm, chăm sóc mẹ và bé</h3></a>
                                <div class="show-menu">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a><h3>Làm đẹp</h3></a>
                                <div class="show-menu">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a><h3>Đồ dùng</h3></a>
                                <div class="show-menu">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a><h3>Thời trang</h3></a>
                                <div class="show-menu show-full">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a><h3>Đồ chơi, dụng cụ học tập</h3></a>
                                <div class="show-menu">
                                    <ul class="sub-mennu">
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/1.png" />
                                                </div>
                                                <p>Sữa bột cho bé</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/2.png" />
                                                </div>
                                                <p>Sữa bột người lớn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/3.png" />
                                                </div>
                                                <p>Sữa bột pha sẵn</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/4.png" />
                                                </div>
                                                <p>Sữa bầu</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="imgmennu">
                                                    <img src="~/Images/img-mennu/5.png" />
                                                </div>
                                                <p>Sữa tươi</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer class="footer">
        <section>
            <div class="footer-box">
                <div class="footer-tel">
                    <p class="footer-title">Tổng đài</p>
                    <div class="tel-care">
                        <p>Gọi mua:<span> 1900.866.874</span>(7:30 - 22:00)</p>
                        <p>Khiếu nại:<span> 1900.866.894</span>(8:00 - 21:30)</p>
                    </div>
                    <div class="footer-social">
                        <p>kết nối với chúng tôi</p>
                        <div class="btn-social">
                            <i class="icon-fb"></i>
                            <i class="icon-yt"></i>
                        </div>
                    </div>
                </div>
                <div class="footer-item">
                    <p class="footer-item-title">Hệ thống của hàng</p>
                    <ul>
                        <li><a>Hệ thống 46 cửa hàng</a></li>
                        <li><a>Nội quy cửa hàng</a></li>
                        <li><a>Chất lượng phục vụ</a></li>
                        <li><a>Chính sách dổi trả, bảo hành</a></li>
                    </ul>
                </div>
                <div class="footer-item">
                    <p class="footer-item-title">Hỗ trợ khách hành</p>
                    <ul>
                        <li><a>Điều kiện giao dịch chung</a></li>
                        <li><a>Hướng dẫn mua hàng online</a></li>
                        <li><a>Chính sách giao hàng</a></li>
                        <li><a>Chính sách thanh toán</a></li>
                    </ul>
                </div>
                <div class="footer-item">
                    <p class="footer-item-title">Về avakids</p>
                    <ul>
                        <li><a>Giới thiệu công ty</a></li>
                        <li><a>Chính sách bảo mật thông tin </a></li>
                        <li><a>Xem bản mobile</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-link">
                <a>
                    <i class="bocongthuong"></i>
                </a>
                <a>
                    <i class="tinnhiemmang"></i>
                </a>
                <a>
                    <i class="dmca"></i>
                </a>

            </div>
            <p class="copyright">

                © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. <br />
                Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@avakids.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt.
            </p>
        </section>
        <div class="footer-logo">
            <p class="footer-logo_text">Ghé thăm các website khác cùng tập đoàn MWG</p>
            <ul class="logo-list">
                <li>
                    <a><i class="logo-avs"></i></a>
                </li>
                <li>
                    <a><i class="logo-avf"></i></a>
                </li>
                <li><a><i class="logo-avj"></i></a></li>
                <li><a><i class="logo-avc"></i></a></li>
                <li><a><i class="logo-tz"></i></a></li>
                <li><a><i class="logo-bhx"></i></a></li>
                <li><a><i class="logo-tgdd"></i></a></li>
                <li><a><i class="logo-dmx"></i></a></li>
                <li><a><i class="logo-ntak"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

