@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="commitment">
    <ul>
        <li>
            <div class="li-icon">
                <i class="icon-chinhhang"></i>
            </div>
            <div class="li-content">
                <p>
                    <span>
                        100% Sản phẩm chính hãng
                    </span>
                    <br />
                    hơn 100 thương hiệu nổi tiếng
                </p>
            </div>
        </li>
        <li>
            <div class="li-icon">
                <i class="icon-doitra"></i>
            </div>
            <div class="li-content">
                <p>
                    <span>1 Đổi 1 Trong Vòng 1 Tháng</span>
                    <span class="li-note">(Tùy sản phẩm)</span>
                    <br />
                    Tại 49 cửa hàng trên toàn quốc
                </p>
                <a>Xem chi tiết</a>
            </div>
        </li>
        <li>
            <div class="li-icon">
                <i class="icon-giaohang"></i>
            </div>
            <div class="li-content">
                <p>
                    <span>
                        Miễn phí giao hàng
                    </span>
                    <br />
                    cho đơn hàng 500.000đ trong 10km đầu tiên
                </p>
                <a>Xem chi tiết</a>
            </div>
        </li>
    </ul>
</div>