@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer">
    <section>
        <div class="footer-box">
            <div class="footer-tel">
                <p class="footer-title">Tổng đài</p>
                <div class="tel-care">
                    <p>Gọi mua:<span> 1900.866.874</span>(7:30 - 22:00)</p>
                    <p>Khiếu nại:<span> 1900.866.894</span>(8:00 - 21:30)</p>
                </div>
                <div class="footer-social">
                    <p>kết nối với chúng tôi</p>
                    <div class="btn-social">
                        <i class="icon-fb"></i>
                        <i class="icon-yt"></i>
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <p class="footer-item-title">Hệ thống của hàng</p>
                <ul>
                    <li><a>Hệ thống 46 cửa hàng</a></li>
                    <li><a>Nội quy cửa hàng</a></li>
                    <li><a>Chất lượng phục vụ</a></li>
                    <li><a>Chính sách dổi trả, bảo hành</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <p class="footer-item-title">Hỗ trợ khách hành</p>
                <ul>
                    <li><a>Điều kiện giao dịch chung</a></li>
                    <li><a>Hướng dẫn mua hàng online</a></li>
                    <li><a>Chính sách giao hàng</a></li>
                    <li><a>Chính sách thanh toán</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <p class="footer-item-title">Về avakids</p>
                <ul>
                    <li><a>Giới thiệu công ty</a></li>
                    <li><a>Chính sách bảo mật thông tin </a></li>
                    <li><a>Xem bản mobile</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-link">
            <a>
                <i class="bocongthuong"></i>
            </a>
            <a>
                <i class="tinnhiemmang"></i>
            </a>
            <a>
                <i class="dmca"></i>
            </a>

        </div>
        <p class="copyright">

            © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. <br />
            Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@avakids.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt.
        </p>
    </section>
    <div class="footer-logo">
        <p class="footer-logo_text">Ghé thăm các website khác cùng tập đoàn MWG</p>
        <ul class="logo-list">
            <li>
                <a><i class="logo-avs"></i></a>
            </li>
            <li>
                <a><i class="logo-avf"></i></a>
            </li>
            <li><a><i class="logo-avj"></i></a></li>
            <li><a><i class="logo-avc"></i></a></li>
            <li><a><i class="logo-tz"></i></a></li>
            <li><a><i class="logo-bhx"></i></a></li>
            <li><a><i class="logo-tgdd"></i></a></li>
            <li><a><i class="logo-dmx"></i></a></li>
            <li><a><i class="logo-ntak"></i></a></li>
        </ul>
    </div>
</footer>