@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <div class="header">
        <div class="header__top">
            <a><img class="banner-Top" src="~/Images/TopBarDesk-1200x44-2.png" /></a>
        </div>
        <div class="header__main">
            <section class="header__main-logo">
                <a class="header-logo">
                    <i class="logo-ava"></i>
                </a>
                <form class="header-search">
                    <input type="text" placeholder="Tìm sản phẩm, nhóm hàng, hãng..." />
                </form>
                <div class="box-right">
                    <a class="add-cart">
                        <i class="cart-icon"></i>
                        <p>Giỏ hàng</p>
                    </a>
                    <a class="header__hotline">Hotline (7h30 - 22h00) <br /> <span>1900866874</span> </a>
                    <a class="header__text">Cẩm nang <br />Mẹ và bé </a>
                </div>
            </section>
            <section class="header__bottom">
                <nav>
                    <ul class="mennu">
                        <li>
                            <a><h3 class="mennu-name ">Sữa, thức uống</h3></a>
                            <div class="show-menu show-full">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a><h3>Bĩm,tã</h3></a>
                            <div class="show-menu">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a><h3>Thực phẩm</h3></a>
                            <div class="show-menu">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a><h3>Mỹ phẩm, chăm sóc mẹ và bé</h3></a>
                            <div class="show-menu">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a><h3>Làm đẹp</h3></a>
                            <div class="show-menu">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a><h3>Đồ dùng</h3></a>
                            <div class="show-menu">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a><h3>Thời trang</h3></a>
                            <div class="show-menu show-full">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a><h3>Đồ chơi, dụng cụ học tập</h3></a>
                            <div class="show-menu">
                                <ul class="sub-mennu">
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/1.png" />
                                            </div>
                                            <p>Sữa bột cho bé</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/2.png" />
                                            </div>
                                            <p>Sữa bột người lớn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/3.png" />
                                            </div>
                                            <p>Sữa bột pha sẵn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/4.png" />
                                            </div>
                                            <p>Sữa bầu</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="imgmennu">
                                                <img src="~/Images/img-mennu/5.png" />
                                            </div>
                                            <p>Sữa tươi</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
</header>